.flex-container {
  /*
  viewport : 현재 화면에서 보여지고 있는 영역 (현재 기기, 프로그램 화면)
  
  vw(viewport Width) : 현재 화면의 가로 너비를 나타내는 단위
  vh(viewport Height) : 현재 화면의 세로 높이를 나타내는 단위

  100vh == 현재 화면 높이 100%
  */

  height: 75vh; /* 현재 화면의 75%만 차지한다는 뜻! */
  display: flex; /* 블록을 한 줄로 정렬 */
  flex-wrap: wrap; /* item이 하나 또는 여러 줄로 배치되도록 지정하는 속성 - 기본값은 nowrap */
  align-content: space-between;
}
