/* 버튼 생성의 공식과도 같은 설정 */
.btn-basic {
  background-color: #4caf50;
  color: white;
  /*       상하  좌우   버튼 패딩은 상하 패딩보다 좌우 패딩을 보통 두 배 정도 크게 만든다 */
  padding: 12px 24px;
  /* border 선을 없애는 게 요즘 트렌드 */
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
/* 버튼 위로 마우스를 올렸을 때 나타나는 변화 스타일 */
.btn-basic:hover {
  background-color: palevioletred;
  font-size: 20px;
}
/* 버튼을 클릭했을 때 나타나는 변화 스타일 */
.btn-basic:active {
  background-color: red;
  font-size: 30px;
}
.btn-pretty {
  background-color: #ff6f61;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn-pretty:hover {
  background-color: #ff3b2e;
  color: #fffde7;
}
.btn-pretty:active {
  background-color: #d6281d;
  color: white;
}
