.container {

}

#test1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 3px solid black;
}

#test1 .grid-item {
  border: 1px solid red;
}

#test2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 비율 1 : 2 : 1 */
  gap: 10px;
  border: 3px solid black;
}

#test2 .grid-item {
  border: 1px solid blue;
}

#test3 {
  display: grid;
  grid-template-columns: 200px 2fr 150px; /* 비율 고정, 가변, 고정 */
  gap: 10px;
  border: 3px solid black;
}

#test3 .grid-item {
  border: 1px solid green;
}

#test4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  border: 3px solid black;
}

#test4 .grid-item {
  border: 1px solid orangered;
}

#test5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  border: 3px solid black;
}

#test5 .grid-item {
  border: 1px solid yellowgreen;
}

#test7 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  border: 3px solid black;
}

#test7 .grid-item {
  border: 1px solid aqua;
}