/* 
1. body-top 클래스에 마진 패딩 0 만들기
2. header 전체 박스에 로고 위치, 로그인 | 회원가입 한 줄에 설정
   패딩 15 30, 배경색 #ddd, 좌 우로 나누기,
   justify-content:space-between,
   alian-item:center

*/

#body-top {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  padding: 15px 30px;
  background-color: #ddd;
  justify-content: space-between;
  align-items: center;
}

.header-left .logo {
  font-size: 24px;
}

.header-left .logo img {
  width: 100px;
  border-radius: 50%;
}

.header-rignt a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav ul a {
  text-decoration: none;
  color: aquamarine;
}

.main {
  margin: 0;
  padding: 0;
}
.banner-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/banner1.png");
  /* background-size: contain -> 이미지 사이즈가 기기 너비만큼 복제 */
  background-size: auto 145%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 35%;
  color: #333;
  text-align: center;
}

.banner-text h1{
  margin-bottom: 20px;
  /*
  box-shadow, text-shadow는 동일한 특성을 지녔다.
  box-shadow는 담겨진 테두리 음영을 줄 때 사용하고,
  text-shadow는 글자 테두리 음영을 줄 때 사용한다.


  text-shadow: 2px 2px      4px            rgba(255, 255, 255, 0.8);
               우,  하로 이동, 그림자 흐린 정도↓, 80% 불투명한 흰색(선명도↑
  text-shadow: -2px -2px      40px            rgba(255, 255, 255, 0.1);
               좌,   상으로 이동, 그림자 흐린 정도↑, 10% 불투명한 흰색(선명도↓)
  
  rgba(빨,초,파,투명도) : RGB 0(검은색에 가깝다) 255(흰색에 가깝다)
  */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
